.loaderWrapper{
	min-height: 50vh;
	display: grid;
	place-content: center;
}
.loader {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.loaderCircle {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: var(--tr-primary-color);
	border-radius: 49px;
	animation: bubblingG 1.5s infinite alternate;
}

.loaderCircle1 {
	animation-delay: 0s;
}

.loaderCircle2 {
	animation-delay: 0.45s;
}

.loaderCircle3 {
	animation-delay: 0.9s;
}

.buttonLoaderWrapper{
	display: flex;
	justify-content: center;
}

.buttonLoader,
.buttonLoader::before,
.buttonLoader::after{
	content: '';
	width: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	position: relative;
	background-color: var(--tr-primary-color);
	animation: buttonLoader 1.2s infinite linear calc(var(--delay,0)*.4s);
}

.buttonLoader{
	--delay: 0;
}

.buttonLoader::before{
	--delay:-1;
	position: absolute;
	left: -120%;
}

.buttonLoader::after{
	--delay:1;
	position: absolute;
	right: -120%;
}

@keyframes buttonLoader {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	34%{
		opacity: .8;
		transform: translateY(25%);
	}
	66%{
		opacity: 0.4;
		transform: translateY(-25%);
	}
	100%{
		opacity: 0;
		transform: translateY(0);
	}
}

@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:var(--tr-primary-color);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}
