.checkoutPage{
  min-height: 90vh;
}

.checkoutGrid{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.productCard{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: var(--space-xs);
  padding: var(--space-sm);
  box-shadow: var(--bs-lighter);
}

.productImage{
  object-fit: contain;
}

@media screen and (max-width: 720px) {
  .checkoutGrid{
    grid-template-columns: 1fr;
  }
}